/*
	Welcome to the stylesheet, and thanks for reading.

	I wrote this stylesheet after reading "How to Design and Write Web Pages Today"
	(2nd ed), by Karl Stolley. GO READ THAT BOOK. It's a good intro for newbies
	and a great text for writer/designers like myself who understand
	standards-compliant semantic HTML and CSS but need a brush-up for
	mobile-first designing.

	Some of the CSS here--especially the opening reset CSS--is borrowed from the RPK
	for Stolley's book, available at https://github.com/webpges/rpk
	(see also https://webpg.es/rpk/, the book's companion site).

	Most of the other styling here is my own, but I worked out a lot of my
	initial grid setup as I was reading "How to...", so similarities will be
	pretty obvious. I didn't follow all the rules, but I gave it due effort.
*/

/* Screen CSS */

/* Minified Eric Meyer reset CSS; see css/_reset.css */
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable*/

/*
  End reset CSS.

  Write custom styles in the appropriate sections below (BASE, LAYOUT, MODULAR, and
  STATE), whose labels are derived from the book Scalable and Modular Architecture for CSS
  (SMACSS) by Jonathan Snook. See https://smacss.com/
*/

/* ===== BASE STYLES ============ */
/* Primarily element selectors for content: headings, paragraphs, lists, and media */

/* Optimal Typographic Rendering */
html {
 	font-size: 1.125em;
	line-height: 1.222em;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Roboto", Arial, sans-serif;
}

/* Color variable definitions
TFW you don't have to keep track of color codes any more,
just color schemes.  */
:root {
  --color-dark: #383838;
  --color-medium: #505050;
  --color-light: #ffffff;
  --color-important: #04a678;
  --color-link: #0a74a2;
}

p,
summary {
	padding-bottom: 1.222em;
}
ul,
ol,
dl {
	padding-bottom: 0.611em;
	padding-left: 1.777em;
}
li {
	padding-bottom: 0.611em;
}
ul {list-style-type: disc;}
ol {list-style-type: decimal;}

h1 {
	font-size: 1.777em;
	line-height: 1.376em;
	padding-top: 0.688em;
	}
h2 {
	font-size: 1.333em;
	line-height: 1.375em;
	padding-bottom: 0.917em;
	font-weight: bold;
  color: var(--color-important)
	}

h2,
h3,
h4,
h5 {font-family: "Roboto Slab", serif;
	}

header a{color: var(--color-important); text-decoration: none;}
header a:visited{color: var(--color-important);}
header {padding-top: 3.667em;}

#content ul, ol > body.resume {
	list-style-type:none;}
/* Typical bold and italic styles */

b,
strong {
  font-weight: bold;
}
i,
em,
cite {
  font-style: italic;
}

details {
	background-color: var(--color-medium);
	color: var(--color-light);
	margin-bottom: 1.222em;
}
a:link {
	color: var(--color-link);
	}
a:visited{
  color: var(--color-link);
}

figcaption {
	font-style: italic;
	font-size: small;
	padding-left: 0.5em;
	line-height: 1em;
}

/* Responsive Media */
img {padding: 0.5em;}

audio,
img,
video {
  display: block;
  max-width: 100%;
}
picture img {
  width: 100%;
}
#content img {width: 75%}

/* ===== LAYOUT STYLES ========== */
/* Primarily ID selectors for positioning sectioning elements */

#page {
	padding-left: 5.641025641%;
	padding-right: 5.641025641%;
	margin: 0 auto;
  background-color: var(--color-light);
  color: var(--color-dark);
}
#header {
	text-transform: lowercase;
  color: var(--color-important)
	}
#navigation {
	position: fixed;
	width: 100%;
	padding: 0;
	top: 0;
	left: 0;
	background-color: var(--color-dark);
	z-index: 100;
}
#footer {
	font-size: 0.5em;
	line-height: 1em;
}
#home-content {
	position: relative;
	width: 80%;
	}

.navigation {
	line-height: 1;
	padding: 0;
}
.navigation li {
	line-height: 1;
	display: inline-block;
	padding: 0;
	}
.navigation li a {
	display: block;
	padding: 1.222em;
	padding-top: 0.722em;
	padding-bottom: 0.722em;
	text-decoration: none;
	background-color: var(--color-dark);
	color: var(--color-light);
	}
.byline {
    font-size: 0.5em;
    line-height: 1em;
    padding-top:0;
  }
li.firstli {
	color: var(--color-important);
	padding-bottom: 0;
	font-weight: bold;
	}
.pullquote {
	float:right;
	margin: 0.917em;
	padding-left: 1.777em;
	padding-top: 0.917em;
	padding-right: 0.917em;
	padding-bottom:0;
	width: 45%;
	border-radius: 0.25em;
	background-color: var(--color-medium);
	color: var(--color-light);
	font-family: 'Roboto Slab', serif;
	text-align: right;
	font-size: 0.8em;}

blockquote.pullquote {
	width:90%;
	margin-left: 1.777em;
}
aside {
	padding: 0.917em;
	}


/* ===== MODULAR STYLES ========= */
/* Primarily class selectors for styling unique page components  */
#navigation .accessibility {
  /* Accessibly hide the accessibility components of the navigation */
  position: absolute;
  left: -10000px;
}



/* ===== STATE STYLES =========== */

/*
  Media queries.
*/
@media screen and (min-width: 585px) {
#content {
	position:relative;
	width: 61.28709056%;
	float: left;
	}
.sidebar {
	width: 34.47398844%;
	margin-left: 65.52601156%;
	padding-bottom: 1.777em;
	}
#footer {
	clear: both;
	}


h1 {
	font-size: 2.369em;
	}
h2 {
	font-size: 1.777em;
	}
h3 {
	font-size: 1.333em;
	}
.byline {
    font-size: 0.722em;

  }
}
@media screen and (min-width: 1170px) {
 #page {
	max-width: 1000px;
	margin-left: 70px;
	padding-left: 70px;
	}

	h1 {font-size:3em;}

    #navigation {padding-left: 70px; font-size: 1.5em;}
}


/* ==== Special Navigation and CSS for Pre-tenure portfolio */
.portfolionav {
	line-height: 1;
	padding: 0;
}
.portfolionav li {
	line-height: 1;
	display: inline-block;
	padding: 0;
	}
.portfolionav li a {
	display: block;
  border-radius: .5em .5em 0 0;
	padding: 1.222em;
	padding-top: 0.722em;
	padding-bottom: 0.722em;
  margin-bottom: 0;
	text-decoration: none;
	background-color: var(--color-important);
	color: var(--color-light);
}
hr{
  border-style: solid;
  border-width: 10px;
  color: #04a678;
  margin: 20px 0px;
}
hr.portfolionav-hr{
   margin: 0px;
  }
blockquote.portnote {
	float:right;
	padding-left: 1.777em;
	padding-top: 0.917em;
	padding-right: 0.917em;
	padding-bottom: 0.917em;
	border-radius: 0 0 0.25em 0.25em;
	background-color: var(--color-medium);
	color: var(--color-light);
	font-family: 'Roboto Slab', serif;
	text-align: left;
	font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 1.777em;
}
