body{
  background-color:#f8f8f8;
  font-family: sans-serif;
  margin: 1% 5%;
}
h1{
  background-color: black;
  color: #f8f8f8;
  border-radius: .5em .5em 0 0;
  padding: 1em .5em .3em .3em;
  margin: 0;
}
p{
  font-size: 1.3em;
  padding-left: 2em;
}
pre{
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid gray;
  /* the next five lines ensure preformatted text wraps inside its container */
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
code{
  font-size: 1.3em;
  background: #f8f8f8;
}
img{
  max-width: 100%; /* Ensures image width scales with page/screen */
}
figure{
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid gray;
}
figcaption{
  font-style: italic;
}
iframe{
  padding-left: 2em;
}
/* Tables */
table, td, th{
  border: 2px solid black;
}
table{
  border-collapse: collapse;
  margin: 5%;
  width: 90%;
}
th{
  background-color: black;
  color: #f8f8f8;
  height: 2em;
}
tr:nth-child(even) {background-color: #f2f2f2;}
td{
  padding-left: 1em;
  height: 2em;
  vertical-align: middle;
}
th#col1{
  width: 12%;
}
th#col2, #col3, #col4, #col5{
  width: 22%;
}

/* Navigation list */
ul#stylez {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul#stylez li {
    float: left;
}
ul#stylez li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul#stylez li a:hover {
    background-color: #111;
}

/* classes and HTML5 structural elements */
.instructions{
  margin: 0;
  background-color: #d0d0d0;
  padding: .3em 2em;
}
.content{
  border-style: none solid solid solid;
  border-width: 2px;
  border-color: #d0d0d0;
  background-color: #d0d0d0;
  padding: .3em 2em;
}
footer{
  background-color: black;
  color: #f8f8f8;
  border-radius: 0 0 .5em .5em;
  padding: .3em .5em;
  margin-bottom: 0;
}
