body{
  background-color:yellow;
  font-family: sans-serif;
  margin: 1% 5%;
}
h1{
  background-color: pink;
  color: blue;
  border-radius: .5em .5em 0 0;
  padding: 1em .5em .3em .3em;
  margin: 0;
}
.instructions{
  margin: 0;
  background-color: green;
  padding: .3em 2em;
}
.content{
  border-style: none solid solid solid;
  border-width: 2px;
  border-color: green;
  background-color: lime;
  padding: .3em 2em;

}
p{
  font-size: 1.3em;
}
footer{
  background-color: purple;
  color: orange;
  border-radius: 0 0 .5em .5em;
  padding: .3em .5em;
  margin-bottom: 0;
}

table, td, th{
  border: 2px solid navy;
}
table{
  border-collapse: collapse;
  margin: 5%;
  width: 90%;
}
th{
  background-color: fuschia;
  color: turquoise;
  height: 2em;
}
tr:nth-child(even) {background-color: white;}

td{
  padding-left: 1em;
  height: 2em;
  vertical-align: middle;
}

th#col1{
  width: 12%;
}
th#col2, #col3, #col4, #col5{
  width: 22%;
}

img{
  max-width: 100%;
}



ul#stylez {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
}

ul#stylez li {
    float: left;
}

ul#stylez li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul#stylez li a:hover {
    background-color: blue;
}
