body{
  background-color: #3371FF;
  margin: 1% 5%;
  font-family: 'Chicle', cursive;
}
h1{
  background-color: red;
  color: white;
  border-radius: .5em .5em 0 0;
  padding: 1em .5em .3em .3em;
  margin: 0;

}
.instructions{
  margin: 0;
  background-color: yellow;
  padding: .3em 2em;
}
.content{
  border-style: none solid solid solid;
  border-width: 2px;
  border-color: #33FF39;
  background-color: #33FF39;
  padding: .3em 2em;
}
p{
  font-size: 1.5em;
}
footer{
  background-color: violet;
  color: indigo;
  border-radius: 0 0 .5em .5em;
  padding: .3em .5em;
  margin-bottom: 0;
}

table, td, th{
  border: 2px solid blue;
}
table{
  border-collapse: collapse;
  margin: 5%;
  width: 90%;
  font-size: 1.5em;

}
th{
  background-color: #33C1FF;
  color: black;
  height: 2em;
}
tr:nth-child(even) {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  color: #33FF39;
}

td{
  padding-left: 1em;
  height: 2em;
  vertical-align: middle;
}

th#col1{
  width: 12%;
}
th#col2, #col3, #col4, #col5{
  width: 22%;
}

img{
  max-width: 100%;
  border-radius: 5%;
}

ul#stylez {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
    font-size: 1em;
    font-family: sans-serif;

}

ul#stylez li {
    float: left;
}

ul#stylez li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul#stylez li a:hover {
    background-color: #FFCE33;
}
