body{
  background-color:#f8f8f8;
  font-family: sans-serif;
  margin: 1% 5%;
}
h1{
  background-color: black;
  color: #f8f8f8;
  border-radius: .5em .5em 0 0;
  padding: 1em .5em .3em .3em;
  margin: 0;
}
.instructions{
  margin: 0;
  background-color: #d0d0d0;
  padding: .3em 2em;
}
.content{
  border-style: none solid solid solid;
  border-width: 2px;
  border-color: #d0d0d0;
  padding: .3em 2em;

}
p{
  font-size: 1.3em;
}
footer{
  background-color: black;
  color: #f8f8f8;
  border-radius: 0 0 .5em .5em;
  padding: .3em .5em;
  margin-bottom: 0;
}
