/*  stylesheet for syllabus/site */
/*
typesets:
	font-family: 'Raleway', serif; (for headings)
	font-family: 'Open Sans', sans-serif; (for body text)

color scheme:  **MAKE THIS INTO VARIABLES**

	default font color: black
	dark green: #6B9925
	light green: #A7CC6E
	light yellow #FFF7A3

	generate your own dippy color scheme at Adobe Color CC, adobe.color.com
*/

/* Minified reset CSS via http://meyerweb.com/eric/tools/css/reset/ */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ie-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* HTML5 Elements as Blocks; Cribbed from HTML5 Boilerplate */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	padding: 1em;
  padding-top: 0;
}
body {
  font-size: 1em;
  line-height: 1.4em;
  }
p {
	padding-bottom: 1.3em;
}
li {
  padding-bottom: 0.6em;
}
ol,
ul {
  padding-bottom: 1.3em;
}
ul > li {
  list-style-type: square;
}
ol > li {
  list-style-type: decimal;
}
li ul,
li ol {
  padding-top: 0.6em;
  margin-left: 1.3em;}
  /* Avoid over-padding nested lists */
li ol,
li ul,
li:last-child {
  padding-bottom: 0;
}
h1 {display: block;}
h1,
h2,
h3,
h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	}

h1 {font-size: 2.2em; line-height: 1em;}
h2 {font-size: 2.2em; line-height: 1em;  padding-top: .3em; }
h3 {padding-left: 2%; padding-top: .6em; line-height 1em;}
article > h3:first-child {font-size:2em;}

#header {
	width: 100%;
	background-color: ;
  padding-top: 2.5em;
  border-bottom: .1em #6B9925 dotted;
}

#navigation {
}
.navigation {
	font-size: 1.5em;
	line-height: 1em;
	padding: 0;
}
.navigation li {
	line-height: 1;
	display: inline-block;
	padding: .3em;
	}
.navigation li a {
	display: block;
	text-decoration: none;
	color: #6B9925;
	}

.agenda {
	background-color: #fff;
	padding-bottom: .3em;
	padding-left: 2%;
}
.assigned {
	background-color: #FFF7A3;
	padding-right: 10%;
	padding-left: 12%;
	margin-right: -10%;
	margin-left: -10%;
	border-bottom: .1em #6B9925 solid;
	padding-top: .3em;
	padding-bottom: .3em;
}
.alternate {
	background-color: #FFF7A3 ;
  padding-top: 1.3em;
  margin-right: -10%; /* 60px / 530px (650-120) */
  padding-right: 10%;
  margin-left: -10%;
  padding-left: 10%;
  margin-bottom: 1.3em;
}

.week,
.meeting,
.assigned > ul > li {
  list-style-type: none;
}


/* @560px */

@media screen and (min-width: 560px) {


  .assigned {
    padding: 1.2631578947em 1.8947368421em 0.6315789474em 1.8947368421em;
    margin-left: -1.8947368421em;
    margin-right: -1.8947368421em;

}

/* @650px */

@media screen and (min-width: 40.625em) {
  html {
    padding: 0;
  }
  header,
  footer,
  .primary,
  #instructor,
  #links {
    padding-left: 14.28571429%; /* 93/651 */
    padding-right: 28.57142857%; /* 186/651 */
  }
  .tagline,
  .fineprint {
  }
  #navigation {
    width: 70%;
    left: 14.28571429%;
  }

  .agenda > ol {
    display: block;
  }
h1 {
  font-size: 3.2em;
}
