html {

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ie-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.1875em; /* 19 / 16px */
  line-height: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
  color: #292929;
  background: #ffffdb;
}
