/* Meyerweb reset from http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126  License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Color variable definitions

TFW you don't have to keep track of color codes any more,
just color schemes.  */
:root {
  --color-attention: #ffab40;  /* orange */
  --color-important: #64ffda;  /* light turq */
  --color-back-light: #ffd966; /* light orange-yellow */
  --color-black: #36474f;      /* dark gray */
  --color-white: #f5f5f5;      /* very light gray */
}

html{
  background-color: var(--color-black);
	text-rendering: optimizeLegibility;
 	-webkit-text-size-adjust: 100%;
 	-moz-text-size-adjust: 100%;
 	-ms-text-size-adjust: 100%;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
body{
  font-family: 'PT Sans', sans-serif;
  font-size: 100%;
	margin: 0 auto;
	color: var(--color-white);
}
h2, h3, h4, h5, h6{
  color: var(--color-attention);
  font-family: 'PT Serif', serif;
}
h1{
  font-size: 2em;
  line-height: 1.25em;
	color: var(--color-black);
	font-weight: 700;
}
h2{
  font-size: 1.625em;
  line-height: 1.15384615em;
	margin-top: 1em;
	margin-left: .5em;
}
h3{
  font-size: 1.375em;
  line-height: 1.13636364em;
	margin-top: 1em;
	margin-left: .5em;
}
h4 {
  font-size: 1.125em;
  line-height: 1.11111111em;
	margin-top: 1em;
	margin-left: .5em;
}
p{
  margin-left: 1em;
  margin-bottom: .5em;
}
ul, ol, table{
  margin-left: 2em;
  margin-bottom: 1em;
}

blockquote{
  margin: 2em;
  font-style: italic;
  border-left: .25em solid var(--color-important);
  color: var(--color-important);
  padding-left: .25em;
}
code{
  background-color: var(--color-back-light);
	color: var(--color-black);
	border: 1px solid var(--color-black);
	padding: 0 .2em;
	font-style: normal;
	font-family: monospace;
}
img {
  max-width: 100%;
}
figure{
  margin: 1em;
  padding: 1em;
  width: 75%;
  border-radius: .25em;
  background-color: var(--color-back-light);
}
 figcaption {
   padding: .3em;
   color: var(--color-black);
   font-style: italic;
 }
table, tr, td, th{
	border: 1px solid var(--color-white);
	border-collapse: collapse;
	padding: .25em;
}

strong, .important {
  color: var(--color-important);
  font-weight: 700;
}

em, cite{
	font-style: italic;
}
#theoria, #praxis, #next-time{
   background-color: var(--color-black);
}
section{
	padding: .25em;
	border-bottom: .5em solid var(--color-important);
}
header{
	background-color: var(--color-attention);
	padding: .25em;
	border-bottom: .5em solid var(--color-important);
}
footer{
  color: var(--color-white);
	background-color: var(--color-attention);
	border-top: .5em solid var(--color-important);
}
.info {
padding-top: .75em;
background-color: var(--color-black);
}
.instructor{
	border-bottom: .5em solid var(--color-important);
}
.links{
}

ul.nav {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	border: 2px solid var(--color-black);
	text-align: center;
}
.nav li a{
	display: block;
	color: var(--color-black);
	text-decoration: none;
	padding: .2em;
	margin: .2em;
}

a:active{background-color: var(--color-important);}
a:link{color:var(--color-back-light)}
a:visited{color: var(--color-back-light);}
a:hover{background-color: var(--color-important);}
.nav li a:active{background-color: var(--color-white);}
.nav li a:hover{background-color: var(--color-white);}

/* RESPONSIVE  */
@media screen and (min-width: 990px) {
body{
	  font-family: 'PT Sans', sans-serif;
	  font-size: 125%;
	}
header{
	padding-left: 5.75em;
}
article{
	margin-left: 5em;
	width: 68%;
}
.info {
position: absolute;
top: 0;
left: 76%;
padding-top: .75em;
background-color: var(--color-attention);
border-left: .5em solid var(--color-important);
}
.instructor{
	border-bottom: .5em solid var(--color-important);
}
.links{
}
.info h4{
	color: var(--color-black);
}
footer{
	margin-left: 5em;
	width: 68%;
}
 ul.nav {
   display: inline-block;
   list-style-type: none;
   margin: 0;
   padding: 0;
	 border: 0;
 }
 .nav li {
   float: left;
 }
 .nav li a{
   border: 2px solid var(--color-black);
   display: block;
   color: var(--color-black);
   background-color: var(--color-attention);
   text-align: center;
   text-decoration: none;
   float: left;
   padding: .2em;
   margin: .2em;
 }
	.bigbye {
		visibility: hidden;
	}
	
}
