/* Meyerweb reset from http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126  License: none (public domain) 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/

/*
  color for attention elements:  #db0a5b (deep pink)
  color for subtle elements: #6a737d (gray)
  color for background of attention elements (pink)
  color for black: #0a0a0a
  color for white: #f5f5f5 (very light gray)

  to get font families:
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap" rel="stylesheet">

*/

html{
  background-color: #0a0a0a;
}
body{
  font-family: 'PT Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  color: #db0a5b;
  font-family: 'PT Serif', serif;
}
p, ul, ol{
}
code{
  background-color: pink;
}
img {
  max-width: 100%;
}
figure{
  margin: 1em;
  padding: 1em;
  width: 75%;
  border: 1px solid #db0a5b;
  border-radius: .25em;
  background-color: pink;
}
 figcaption {
   padding: .3em;
   color: #6a737d;
   font-style: italic;
 }


.important {
  color:#db0a5b;
  font-weight: 700;}

 #theoria, #praxis, #next-time{
   background-color: #f5f5f5;
   border-top: .5em solid #0a0a0a;
}

footer, footer a{
  color: #f5f5f5;
}

/* Navigation */
 ul.nav {
   display: inline-block;
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 .nav li {
   float: left;
 }
 .nav li a{
   border-radius: .25em;
   border: 2px solid #db0a5b;
   display: block;
   color: #f5f5f5;
   background-color: #0a0a0a;
   text-align: center;
   text-decoration: none;
   float: left;
   padding: .2em;
   margin: .2em;
 }
