/*  stylesheet for syllabus/site */
/*
typesets:
	font-family: 'Montserrat', sans-serif; (for body text)
  font-family: 'Kanit', sans-serif; (for headings)

color scheme:

  dark black: #0b0c10
  dark gray: #1f2833
  light gray: #c5c6c7
  light blue: #66fcf1
  dark blue: #45a29e

  :root {
    --color-black: #0b0c10;
    --color-d-gray: #1f2833;
    --color-l-gray: #c5c6c7;
    --color-l-blue: #66fcf1;
    --color-d-blue: #45a29e;
  }

	generate your own accessible color scheme at http://colorsafe.co/
*/

/* Minified reset CSS via http://meyerweb.com/eric/tools/css/reset/ */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ie-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:root {
  --color-black: #0b0c10;
  --color-d-gray: #1f2833;
  --color-l-gray: #c5c6c7;
  --color-l-blue: #66fcf1;
  --color-d-blue: #45a29e;
  --color-important: #66fcf1;
  --color-link: #45a29e;
}
/* HTML5 Elements as Blocks; Cribbed from HTML5 Boilerplate */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--color-black);
  color: var(--color-l-gray);
	padding: 1em;
  padding-top: 0;
}
body {
  font-size: 1em;
  line-height: 1.4em;
  background-color: var(--color-d-gray);
  }
p {
  padding-left: 1.9em;
  padding-bottom: 1.3em;
}
li {
  padding-bottom: 0.2em;
}
ol,
ul {
  padding-left: 1.9em;
  padding-bottom: 1.3em;
}
ul > li {
  list-style-type: square;
}
ol > li {
  list-style-type: decimal;
}
li ul,
li ol {
  padding-top: 0.2em;
  margin-left: 1.3em;}
  /* Avoid over-padding nested lists */
li ol,
li ul,
li:last-child {
  padding-bottom: 0;
}

h1 {display: block;}
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--color-l-blue);
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--color-d-blue);
  margin-right: 2%;
  /* text-transform: lowercase; */
	}

h1 {font-size: 2.2em; line-height: 1em;}
h2 {font-size: 2.2em; line-height: 1em;  padding-top: .3em; }
h3 {padding-left: 2%; padding-top: .6em; line-height: 1em; border-style: none;}
article > h3:first-child {font-size:2em;}

strong {color: var(--color-important); font-weight: bold;}
em{font-style: italic;}

table, tr, td{
  margin-left: 3%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-d-blue);
  padding: .2em;
}

#header {
	width: 100%;
	background-color: ;
  padding-top: 2.5em;
}

#navigation {
}
.navigation {
	font-size: 1.5em;
	line-height: 1em;
	padding: 0;
}
.navigation li {
	line-height: 1;
	display: inline-block;
	padding: .3em;
  background-color: var(--color-black);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-d-blue);
  border-radius: 5%
	}
.navigation li a {
	display: block;
	text-decoration: none;
	color: var(--color-link);
	}

a {
  color: var(--color-link);
}

/* @560px */

@media screen and (min-width: 560px) {

body {
  margin: 0 auto;
  width: 98%;
  padding-left: 0.6em;}

p, ul {width: 90%;}

/* @650px */

@media screen and (min-width: 40.625em) {
body{
  margin: 0 auto;
  width: 90%;
  padding-left: 0.6em;
}
p, ul{width: 75%;}
