/* custom color and font stylesheet to layer over Bootstrap; */

/* NEED TO CORRECT AND ADJUST */
:root {
  --color-important: #04a678;
  --color-link: #45a29e;
}

h1,
h2,
h3,
h4 {
  color: var(--color-important);
  font-weight: bold;
}
strong {color: var(--color-important);}
